<table class="table">
  <tr><td>
    <strong>Commenter:</strong>
    <%= getUserName(@article.user_id) %>
  </tr></td>

  <tr><td>
    <strong>Comment:</strong>
    <%= comment.body %>
  </tr></td>
</table>