<div class="container">
  <div class="row">
    <div class="col">
      <h1>Manage User</h1>
    </div>
  </div>

  <div class="row-md">
    <table class="table">
      <thead class="thead-light"><tr>
        <th scope="col">User</th>
        <th scope="col"></th>        
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr></thead>

      <% @users.each do |user| %>
        <% if user.username != 'admin' %>
          <tr>
            <td width="75%"><%= user.username %></td>
            <td width="5%"></td>
            <td width="5%"></td>
            <td width="5%"></td>
            <td width="5%"></td>      
            <td width="5%"><%= link_to 'Delete', user_path(user), method: :delete, class: "btn btn-primary"  %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <%= link_to 'Back', admin_index_path, class: "btn btn-info"%>

</div>